--
-- PostgreSQL database dump
--

\restrict x7YhYaedKIFOMhiN3RBAOfvL9SWyVdlOF28x1kCxcRrYp53RNAuqnFBHqBeXe9L

-- Dumped from database version 18.4
-- Dumped by pg_dump version 18.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    color text NOT NULL,
    target_value integer DEFAULT 0 NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.departments_id_seq OWNER TO postgres;

--
-- Name: departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.departments_id_seq OWNED BY public.departments.id;


--
-- Name: imports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.imports (
    id integer NOT NULL,
    source text DEFAULT 'api'::text NOT NULL,
    status text DEFAULT 'completed'::text NOT NULL,
    imported_count integer DEFAULT 0 NOT NULL,
    failed_count integer DEFAULT 0 NOT NULL,
    started_at timestamp without time zone DEFAULT now() NOT NULL,
    completed_at timestamp without time zone,
    notes text
);


ALTER TABLE public.imports OWNER TO postgres;

--
-- Name: imports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.imports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.imports_id_seq OWNER TO postgres;

--
-- Name: imports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.imports_id_seq OWNED BY public.imports.id;


--
-- Name: mapping_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mapping_logs (
    id integer NOT NULL,
    import_id integer,
    action text NOT NULL,
    school_registry_id integer,
    student_processed_id integer,
    message text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    details text
);


ALTER TABLE public.mapping_logs OWNER TO postgres;

--
-- Name: mapping_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.mapping_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.mapping_logs_id_seq OWNER TO postgres;

--
-- Name: mapping_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.mapping_logs_id_seq OWNED BY public.mapping_logs.id;


--
-- Name: programs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.programs (
    id integer NOT NULL,
    department_id integer NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    track text,
    level text DEFAULT 'Bachelor'::text NOT NULL,
    color text NOT NULL,
    target_value integer DEFAULT 0 NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.programs OWNER TO postgres;

--
-- Name: programs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.programs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.programs_id_seq OWNER TO postgres;

--
-- Name: programs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.programs_id_seq OWNED BY public.programs.id;


--
-- Name: referrals; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.referrals (
    id integer NOT NULL,
    referrer_id integer,
    referred_name text NOT NULL,
    relationship text NOT NULL,
    contact_number text,
    notes text,
    status text DEFAULT 'pending'::text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.referrals OWNER TO postgres;

--
-- Name: referrals_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.referrals_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.referrals_id_seq OWNER TO postgres;

--
-- Name: referrals_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.referrals_id_seq OWNED BY public.referrals.id;


--
-- Name: school_aliases; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.school_aliases (
    id integer NOT NULL,
    school_registry_id integer NOT NULL,
    alias_name text NOT NULL,
    normalized_alias text NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.school_aliases OWNER TO postgres;

--
-- Name: school_aliases_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.school_aliases_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_aliases_id_seq OWNER TO postgres;

--
-- Name: school_aliases_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.school_aliases_id_seq OWNED BY public.school_aliases.id;


--
-- Name: school_match_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.school_match_history (
    id integer NOT NULL,
    imported_name text NOT NULL,
    official_school_id integer,
    resolved_by text DEFAULT 'Admin'::text NOT NULL,
    occurrences integer DEFAULT 1 NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.school_match_history OWNER TO postgres;

--
-- Name: school_match_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.school_match_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_match_history_id_seq OWNER TO postgres;

--
-- Name: school_match_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.school_match_history_id_seq OWNED BY public.school_match_history.id;


--
-- Name: school_registry; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.school_registry (
    id integer NOT NULL,
    school_id text,
    school_name text NOT NULL,
    normalized_school_name text DEFAULT ''::text NOT NULL,
    school_type text,
    sector text,
    municipality text DEFAULT 'Laguna'::text NOT NULL,
    province text DEFAULT 'Laguna'::text NOT NULL,
    address text,
    latitude double precision,
    longitude double precision,
    source text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    barangay text
);


ALTER TABLE public.school_registry OWNER TO postgres;

--
-- Name: school_registry_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.school_registry_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.school_registry_id_seq OWNER TO postgres;

--
-- Name: school_registry_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.school_registry_id_seq OWNED BY public.school_registry.id;


--
-- Name: student_imports; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.student_imports (
    id integer NOT NULL,
    student_number text NOT NULL,
    full_name text NOT NULL,
    previous_school text,
    program text,
    scholarship text,
    municipality text DEFAULT 'Laguna'::text NOT NULL,
    imported_at timestamp without time zone DEFAULT now() NOT NULL,
    import_source text NOT NULL,
    import_status text DEFAULT 'Pending'::text NOT NULL,
    matched_school_id integer,
    match_confidence integer,
    match_rule text,
    strand text,
    admission_type text,
    enrollment_status text DEFAULT 'Unknown'::text NOT NULL
);


ALTER TABLE public.student_imports OWNER TO postgres;

--
-- Name: student_imports_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.student_imports_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.student_imports_id_seq OWNER TO postgres;

--
-- Name: student_imports_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.student_imports_id_seq OWNED BY public.student_imports.id;


--
-- Name: students; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students (
    id integer NOT NULL,
    student_number text NOT NULL,
    name text NOT NULL,
    referral_code text NOT NULL
);


ALTER TABLE public.students OWNER TO postgres;

--
-- Name: students_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.students_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_id_seq OWNER TO postgres;

--
-- Name: students_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.students_id_seq OWNED BY public.students.id;


--
-- Name: students_processed; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students_processed (
    id integer NOT NULL,
    raw_id integer,
    student_number text NOT NULL,
    full_name text NOT NULL,
    course text,
    admission_type text,
    last_school_name text NOT NULL,
    last_school_type text,
    school_registry_id integer,
    municipality text DEFAULT 'Laguna'::text NOT NULL,
    province text DEFAULT 'Laguna'::text NOT NULL,
    year_level text,
    enrollment_status text DEFAULT 'Active'::text NOT NULL,
    enrollment_date timestamp without time zone DEFAULT now() NOT NULL,
    imported_source text DEFAULT 'API'::text NOT NULL,
    archived_at timestamp without time zone,
    mapping_status text DEFAULT 'pending'::text NOT NULL,
    synced_at timestamp without time zone DEFAULT now() NOT NULL,
    processed_at timestamp without time zone DEFAULT now() NOT NULL,
    strand text,
    previous_school text,
    contact_number text,
    schedule text,
    iskolar_ni_kap text,
    requirements text
);


ALTER TABLE public.students_processed OWNER TO postgres;

--
-- Name: students_processed_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.students_processed_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_processed_id_seq OWNER TO postgres;

--
-- Name: students_processed_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.students_processed_id_seq OWNED BY public.students_processed.id;


--
-- Name: students_raw; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.students_raw (
    id integer NOT NULL,
    import_id integer,
    student_number text NOT NULL,
    full_name text NOT NULL,
    course text,
    last_school_name text NOT NULL,
    last_school_type text,
    student_type text,
    municipality text DEFAULT 'Laguna'::text NOT NULL,
    raw_payload text,
    synced_at timestamp without time zone DEFAULT now() NOT NULL,
    strand text,
    province text DEFAULT 'Laguna'::text NOT NULL,
    previous_school text,
    contact_number text,
    schedule text,
    iskolar_ni_kap text,
    requirements text,
    year_level text
);


ALTER TABLE public.students_raw OWNER TO postgres;

--
-- Name: students_raw_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.students_raw_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.students_raw_id_seq OWNER TO postgres;

--
-- Name: students_raw_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.students_raw_id_seq OWNED BY public.students_raw.id;


--
-- Name: system_settings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.system_settings (
    key text NOT NULL,
    value text NOT NULL,
    description text,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.system_settings OWNER TO postgres;

--
-- Name: departments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments ALTER COLUMN id SET DEFAULT nextval('public.departments_id_seq'::regclass);


--
-- Name: imports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imports ALTER COLUMN id SET DEFAULT nextval('public.imports_id_seq'::regclass);


--
-- Name: mapping_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_logs ALTER COLUMN id SET DEFAULT nextval('public.mapping_logs_id_seq'::regclass);


--
-- Name: programs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs ALTER COLUMN id SET DEFAULT nextval('public.programs_id_seq'::regclass);


--
-- Name: referrals id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals ALTER COLUMN id SET DEFAULT nextval('public.referrals_id_seq'::regclass);


--
-- Name: school_aliases id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_aliases ALTER COLUMN id SET DEFAULT nextval('public.school_aliases_id_seq'::regclass);


--
-- Name: school_match_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_match_history ALTER COLUMN id SET DEFAULT nextval('public.school_match_history_id_seq'::regclass);


--
-- Name: school_registry id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_registry ALTER COLUMN id SET DEFAULT nextval('public.school_registry_id_seq'::regclass);


--
-- Name: student_imports id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_imports ALTER COLUMN id SET DEFAULT nextval('public.student_imports_id_seq'::regclass);


--
-- Name: students id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students ALTER COLUMN id SET DEFAULT nextval('public.students_id_seq'::regclass);


--
-- Name: students_processed id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_processed ALTER COLUMN id SET DEFAULT nextval('public.students_processed_id_seq'::regclass);


--
-- Name: students_raw id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_raw ALTER COLUMN id SET DEFAULT nextval('public.students_raw_id_seq'::regclass);


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: imports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.imports (id, source, status, imported_count, failed_count, started_at, completed_at, notes) FROM stdin;
\.


--
-- Data for Name: mapping_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mapping_logs (id, import_id, action, school_registry_id, student_processed_id, message, created_at, details) FROM stdin;
\.


--
-- Data for Name: programs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: referrals; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.referrals (id, referrer_id, referred_name, relationship, contact_number, notes, status, created_at) FROM stdin;
\.


--
-- Data for Name: school_aliases; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: school_match_history; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: school_registry; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: student_imports; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.student_imports (id, student_number, full_name, previous_school, program, scholarship, municipality, imported_at, import_source, import_status, matched_school_id, match_confidence, match_rule, strand, admission_type, enrollment_status) FROM stdin;
\.


--
-- Data for Name: students; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students (id, student_number, name, referral_code) FROM stdin;
\.


--
-- Data for Name: students_processed; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: students_raw; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.students_raw (id, import_id, student_number, full_name, course, last_school_name, last_school_type, student_type, municipality, raw_payload, synced_at, strand, province, previous_school, contact_number, schedule, iskolar_ni_kap, requirements, year_level) FROM stdin;
\.


--
-- Data for Name: system_settings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.system_settings (key, value, description, updated_at) FROM stdin;
sheetsUrl	https://docs.google.com/spreadsheets/d/1hQEu3Jz6XknkdZYohWY3hN3ock6qvQFe3wYbN6xXKGs/edit?usp=sharing	\N	2026-07-03 13:26:33.858744
sheetsToken		\N	2026-07-03 13:26:33.861243
\.


--
-- Name: departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.departments_id_seq', 10, true);


--
-- Name: imports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.imports_id_seq', 1, false);


--
-- Name: mapping_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.mapping_logs_id_seq', 1, false);


--
-- Name: programs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.programs_id_seq', 31, true);


--
-- Name: referrals_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.referrals_id_seq', 1, false);


--
-- Name: school_aliases_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.school_aliases_id_seq', 139, true);


--
-- Name: school_match_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.school_match_history_id_seq', 37, true);


--
-- Name: school_registry_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.school_registry_id_seq', 7045, true);


--
-- Name: student_imports_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.student_imports_id_seq', 57026, true);


--
-- Name: students_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.students_id_seq', 1, false);


--
-- Name: students_processed_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.students_processed_id_seq', 11490, true);


--
-- Name: students_raw_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.students_raw_id_seq', 1, false);


--
-- Name: departments departments_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_code_unique UNIQUE (code);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: imports imports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.imports
    ADD CONSTRAINT imports_pkey PRIMARY KEY (id);


--
-- Name: mapping_logs mapping_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_logs
    ADD CONSTRAINT mapping_logs_pkey PRIMARY KEY (id);


--
-- Name: programs programs_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_code_unique UNIQUE (code);


--
-- Name: programs programs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_pkey PRIMARY KEY (id);


--
-- Name: referrals referrals_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_pkey PRIMARY KEY (id);


--
-- Name: school_aliases school_aliases_normalized_alias_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_aliases
    ADD CONSTRAINT school_aliases_normalized_alias_unique UNIQUE (normalized_alias);


--
-- Name: school_aliases school_aliases_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_aliases
    ADD CONSTRAINT school_aliases_pkey PRIMARY KEY (id);


--
-- Name: school_match_history school_match_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_match_history
    ADD CONSTRAINT school_match_history_pkey PRIMARY KEY (id);


--
-- Name: school_registry school_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_registry
    ADD CONSTRAINT school_registry_pkey PRIMARY KEY (id);


--
-- Name: student_imports student_imports_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_imports
    ADD CONSTRAINT student_imports_pkey PRIMARY KEY (id);


--
-- Name: students students_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_pkey PRIMARY KEY (id);


--
-- Name: students_processed students_processed_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_processed
    ADD CONSTRAINT students_processed_pkey PRIMARY KEY (id);


--
-- Name: students_raw students_raw_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_raw
    ADD CONSTRAINT students_raw_pkey PRIMARY KEY (id);


--
-- Name: students students_referral_code_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_referral_code_unique UNIQUE (referral_code);


--
-- Name: students students_student_number_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students
    ADD CONSTRAINT students_student_number_unique UNIQUE (student_number);


--
-- Name: system_settings system_settings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.system_settings
    ADD CONSTRAINT system_settings_pkey PRIMARY KEY (key);


--
-- Name: mapping_logs mapping_logs_import_id_imports_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_logs
    ADD CONSTRAINT mapping_logs_import_id_imports_id_fk FOREIGN KEY (import_id) REFERENCES public.imports(id);


--
-- Name: mapping_logs mapping_logs_school_registry_id_school_registry_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_logs
    ADD CONSTRAINT mapping_logs_school_registry_id_school_registry_id_fk FOREIGN KEY (school_registry_id) REFERENCES public.school_registry(id);


--
-- Name: mapping_logs mapping_logs_student_processed_id_students_processed_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mapping_logs
    ADD CONSTRAINT mapping_logs_student_processed_id_students_processed_id_fk FOREIGN KEY (student_processed_id) REFERENCES public.students_processed(id);


--
-- Name: programs programs_department_id_departments_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.programs
    ADD CONSTRAINT programs_department_id_departments_id_fk FOREIGN KEY (department_id) REFERENCES public.departments(id);


--
-- Name: referrals referrals_referrer_id_students_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.referrals
    ADD CONSTRAINT referrals_referrer_id_students_id_fk FOREIGN KEY (referrer_id) REFERENCES public.students(id);


--
-- Name: school_aliases school_aliases_school_registry_id_school_registry_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_aliases
    ADD CONSTRAINT school_aliases_school_registry_id_school_registry_id_fk FOREIGN KEY (school_registry_id) REFERENCES public.school_registry(id);


--
-- Name: school_match_history school_match_history_official_school_id_school_registry_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.school_match_history
    ADD CONSTRAINT school_match_history_official_school_id_school_registry_id_fk FOREIGN KEY (official_school_id) REFERENCES public.school_registry(id);


--
-- Name: student_imports student_imports_matched_school_id_school_registry_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.student_imports
    ADD CONSTRAINT student_imports_matched_school_id_school_registry_id_fk FOREIGN KEY (matched_school_id) REFERENCES public.school_registry(id);


--
-- Name: students_processed students_processed_raw_id_students_raw_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_processed
    ADD CONSTRAINT students_processed_raw_id_students_raw_id_fk FOREIGN KEY (raw_id) REFERENCES public.students_raw(id);


--
-- Name: students_processed students_processed_school_registry_id_school_registry_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_processed
    ADD CONSTRAINT students_processed_school_registry_id_school_registry_id_fk FOREIGN KEY (school_registry_id) REFERENCES public.school_registry(id);


--
-- Name: students_raw students_raw_import_id_imports_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.students_raw
    ADD CONSTRAINT students_raw_import_id_imports_id_fk FOREIGN KEY (import_id) REFERENCES public.imports(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict x7YhYaedKIFOMhiN3RBAOfvL9SWyVdlOF28x1kCxcRrYp53RNAuqnFBHqBeXe9L

